
/*---------------------按钮-----------------------------*/

.stu-get > input {
    width:300px;
    margin:40px auto 0 auto;
    padding:.5em 0;
    border:#1263be solid 1px;
    background:#1b85fd;
    color:#FFF;
    font-size:17px;
    font-weight:bolder;
    letter-spacing:1em;
}

.stu-get > input:hover {
    background: #1263be;
}