        *{
            margin: 0;
            padding: 0;
            border: none;
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: #868D92;
            box-sizing: border-box;
        }

        .lesson{
            position: relative;
            margin-top: 127px;
            overflow: hidden;
        }

        .lesson table {
            width: 100%;
            overflow: hidden;
        }

        .lesson table tbody tr td p{
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

        .lesson table tbody tr td{
            width: 12.5%;
            border-right: solid 1px #F9F9F9;
            overflow: hidden;
        }

        .lesson .course{
            position: absolute;
            width: 12.3%;
            z-index: 100;
            padding: 3px;
            border-radius: 3px;
            overflow: hidden;
        }
        .header{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 200;
            width: 100%;
            min-height: 125px;
            background: -webkit-gradient(linear, left 0, right 0, from(#45BEE9), to(#71DDDA)) !important;
        }

        .header .week .weekCenter{
            min-width: 16%;
            max-width: 18%;
            height: 30px;
            line-height: 30px;
            margin: 0 auto;
            text-align: center;
            color: #FFF;
        }

        .header .week{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 120;
            background: rgba(250, 250, 250, .1);
            width: 100%;
            height: 30px;
            margin-bottom: 5px;
        }

        .header .weekTitle{
            width: 100%;
            height: 25px;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .header .weekTitle table{
            position: absolute;
            bottom: 0;
            height: 25px;
            width: 100%;
        }

        .header .weekTitle table tbody tr td{
            width: 12.5%;
            text-align: center;
            color: #FFF;
        }
